/* learn about reset css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
  /* margin: 0;  */
  /* padding: 0; */
  padding-inline:10px;
  font-family: "Poppins",Arial, Helvetica, sans-serif;
}

.main{
  /* width: 500px; */
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  /* padding-inline:25px; */
}


h1 {
  font-size: 48px;
  color: #2e6ad3;
  /* padding-block: 45px; */
  text-align: center;
  margin: 45px 0;
}

h2 { 
  font-size: 32px;
  color: #104c90;
  margin: 0 0 10px;
}

.img-a {
  padding-bottom: 25px;
}

p {
  font-size: 16px;
  padding-bottom: 9px;
  text-align: start;
}

.container {
  background-color: #f1f1f1;
  width: 450px;
  padding:25px;
  margin: 0 auto;
}

.accent-color {
  color: #ff8000;
}

a {
  text-decoration: #ff8000;
}

a:active {
  color: aquamarine;
}

a:hover {
  background-color: blanchedalmond;
}

.read-more {
  margin: 0;
}